header {
    display: flex;
    background-color:#F8233A;
    color: #fff;
    margin: 0%;
    padding: 1%;
    border-bottom: 10px solid #80212B;
    font-family:Arial, Helvetica, sans-serif;
}
main {
    background-color: #FCAEB6;
    padding: 1%;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color:#F8233A;
    color: #fff;
    margin: 0%;
    padding: 1%;
    border-top: 10px solid #80212B;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

button {
    margin: 1%;
    padding: 1%;
}

.btns {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.val-res {
    padding: 1% 10%;
    border: 2px solid red;
    visibility: hidden;
}